<ion-content>
  <div class="modulo">
    <div class="pt1">
      <ion-img src="assets/pngegg (2).png"></ion-img>
    </div>
    <div class="pt2">
      <h1>Pizza Portuguêsa</h1>
      <p>Uma pizza portuguesa irresistível com pedaços de linguiça calabresa,
        cebolas frescas, azeitonas pretas que adicionam um toque de salgado,
        mussarela derretida, polpa de tomate,
        e finalizada com o saboroso toque do orégano.</p>
    </div>
    <div class="voltar">
      <ion-button [routerLink]="['/salgadas']"><p>voltar</p></ion-button>
    </div>

  </div>
</ion-content>