<ion-content>
  <div class="modulo">
    <div class="pt1">
      <ion-img src="assets/vecteezy.png"></ion-img>
    </div>
    <div class="pt2">
      <h1>Pizza de Calabresa</h1>
      <p>Uma deliciosa combinação de Linguiça Calabresa, rodelas de cebolas frescas, azeitonas pretas, mussarela, polpa
        de tomate, orégano e massa especial.</p>
    </div>
    
    <div class="voltar">
      <ion-button [routerLink]="['/salgadas']"><p>voltar</p></ion-button>
    </div>
    
  </div>
</ion-content>