<ion-content [fullscreen]="true">
  <ion-button [routerLink]="['/pizza1']">

    <div class="pt1">
      <h5>Calabresa</h5>
      <p>R$45,50</p>
    </div>
    <div class="pt2">
      <ion-img src="assets/pngegg (1).png"></ion-img>
    </div>

  </ion-button>

  <ion-button [routerLink]="['/pizza2']">

    <div class="pt1">
      <h5>Portuguêsa</h5>
      <p>R$47,00</p>
    </div>
    <div class="pt2">
      <ion-img src="assets/pngegg (2).png"></ion-img>
    </div>

  </ion-button>

  <ion-button [routerLink]="['/pizza5']">

    <div class="pt1">
      <h5>4 Queijos</h5>
      <p>R$40,40</p>
    </div>
    <div class="pt2">
      <ion-img src="assets/queijo.png"></ion-img>
    </div>

  </ion-button>

  <div class="voltar">
    <ion-button [routerLink]="['/principal']"><p>voltar</p></ion-button>
  </div>

  
</ion-content>
