<ion-content [fullscreen]="true">
  <ion-button>

    <div class="pt1">
      <h5>Coca-Cola</h5>
      <p>R$4,50</p>
    </div>
    <div class="pt2">
      <ion-img src="assets/coca.png"></ion-img>
    </div>

  </ion-button>

  <ion-button>

    <div class="pt1">
      <h5>sprite</h5>
      <p>R$4,50</p>
    </div>
    <div class="pt2">
      <ion-img src="assets/sprite.png"></ion-img>
    </div>

  </ion-button>

  <div class="voltar">
    <ion-button [routerLink]="['/principal']"><p>voltar</p></ion-button>
  </div>

</ion-content>