<ion-content [fullscreen]="true">
  <ion-button [routerLink]="['/pizza3']">

    <div class="pt1">
      <h5>Pizza de M&M's</h5>
      <p>R$25,50</p>
    </div>
    <div class="pt2">
      <ion-img src="assets/mm.png"></ion-img>
    </div>

  </ion-button>

  <ion-button [routerLink]="['/pizza4']">

    <div class="pt1">
      <h5>Pizza de Brigadeiro</h5>
      <p>R$22,99</p>
    </div>
    <div class="pt2">
      <ion-img src="assets/granulado.png"></ion-img>
    </div>

  </ion-button>

  <div class="voltar">
    <ion-button [routerLink]="['/principal']"><p>voltar</p></ion-button>
  </div>

  
</ion-content>
